<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:context="http://www.springframework.org/schema/context"
	xmlns:p="http://www.springframework.org/schema/p"
	xmlns:c="http://www.springframework.org/schema/c"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
    http://www.springframework.org/schema/beans/spring-beans.xsd
    http://www.springframework.org/schema/context
    http://www.springframework.org/schema/context/spring-context.xsd">

	<context:annotation-config />

	<bean name="vishya"
		class="com.spring.springcore.revision1.autowiring.byName.Subject">
		<constructor-arg value="201" type="int" index="0"
			name="id" />
		<constructor-arg value="DAA" type="String" index="1"
			name="name" />
	</bean>

	<bean name="student"
		class="com.spring.springcore.revision1.autowiring.byName.Student"
		p:id="2094" p:name="Khush Mohammad" p:age="25" autowire="byName" />
</beans>