<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:context="http://www.springframework.org/schema/context"
	xmlns:p="http://www.springframework.org/schema/p"
	xmlns:c="http://www.springframework.org/schema/c"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
    http://www.springframework.org/schema/beans/spring-beans.xsd
    http://www.springframework.org/schema/context
    http://www.springframework.org/schema/context/spring-context.xsd">
    
    <bean name="employee" class="com.spring.springcore.revision1.innerbeans.Employee" 
    	scope="prototype"
    	p:id="2094013"
    	p:name="Khush Mohammad"
    >
    	<property name="department">
    			<bean name="department" class="com.spring.springcore.revision1.innerbeans.Department" 
    				p:deptId="93"
    				p:deptName="Public Services"
    			/>
    	</property>
    </bean>
</beans>