<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:context="http://www.springframework.org/schema/context"
	xmlns:p="http://www.springframework.org/schema/p"
	xmlns:c="http://www.springframework.org/schema/c"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
    http://www.springframework.org/schema/beans/spring-beans.xsd
    http://www.springframework.org/schema/context
    http://www.springframework.org/schema/context/spring-context.xsd">
    
    <bean name="reservation" class="com.spring.springcore.springadvanced.autowiring.assignement.Reservation">
    	<property name="id" value="123" />
    	<property name="time" value="12" />
    </bean>
    <!-- 
    <bean name="customer1" class="com.spring.springcore.springadvanced.autowiring.assignement.Customer" 
    	p:name="Khush"
    	autowire="byType"
    />
	-->
	<bean name="customer1" class="com.spring.springcore.springadvanced.autowiring.assignement.Customer" 
    	p:name="Khush"
    />
	
    
    <context:annotation-config />
</beans>