<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:context="http://www.springframework.org/schema/context"
	xmlns:p="http://www.springframework.org/schema/p"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
    http://www.springframework.org/schema/beans/spring-beans.xsd
    http://www.springframework.org/schema/context
    http://www.springframework.org/schema/context/spring-context.xsd">

	<bean name="emp" class="com.demo.spring.springcore.Employee">
		<property name="id">
			<value>2812573</value>
		</property>
		<property name="name" value="Khush Mohammad">
		</property>
	</bean>
	
	<bean name="emp2" class="com.demo.spring.springcore.Employee" 
		p:id="2094013" p:name="Khush Mohamamd" />
</beans>